{% extends 'ups/base.html' %}

{% block content %}



<head>
    <title>Search</title>
</head>
<div class="tablediv">
<p>You searched for: <strong>{{ query }}</strong></p>

{% if search_ups_list %}
    <p>Found {{ search_ups_list|length }} UPS{{ search_ups_list|pluralize }}.</p>
    <table>
        <tr>
          <th>OBIT##</th>
          <th>model</th>
          <th>removeBAT_1</th>
          <th>removeBAT_2</th>
          <th>insertBAT_1</th>
          <th>insertBAT_2</th>
	  <th>R</th>
          <th>state</th>
          <th>date</th>
          <th>Comment</th>
        </tr>
        {% for ups in search_ups_list  %}
        <tr>
          <td><a href="{% url 'ups:ups_edit' id_s=ups.id %}" class="tlink">{{ ups.obitN }}</a></td>
          <td><a>{{ ups.modUps_id }}</a></td>
          <td><a>{{ ups.obitOutBat1 }}</a></td>
          <td><a>{{ ups.obitOutBat2 }}</a></td>
          <td><a>{{ ups.obitInsBat1 }}</a></td>
          <td><a>{{ ups.obitInsBat2 }}</a></td>
          <td><a>{{ ups.released }}</a></td>
	  <td><a>{{ ups.state }}</a></td>
          <td><a>{{ ups.dateU|date:"d.m.o H:i" }}</a></td>
          <td><a>{{ ups.commentU }}</a></td>
        </tr>
        {% endfor %}
</table>
{% else %}
    <p>No books matched your search criteria.</p>
{% endif %}

</div>
{% endblock %}

